body {
    margin: 0;
    padding: 10px; /* Adjust padding for mobile screens */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-section {
    width: 100%;
    background-color: #000;
    display: none; /* Initially hidden */
}

.controls {
    display: flex;
    flex-direction: column; /* Stack buttons vertically on mobile */
    width: 100%;
    margin-top: 10px;
}

.controls button {
    padding: 10px;
    margin: 5px 0; /* Adjust spacing between buttons */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #45a049;
}


@media (min-width: 600px) {
    .controls {
        flex-direction: row; /* Layout buttons horizontally on desktop */
    }

    .video-section {
        display: block; /* Show the video section on desktop */
        aspect-ratio: 16 / 9; /* Maintain video aspect ratio */
    }

    body {
        padding: 20px; /* Increase padding for desktop */
    }

    .controls button {
        margin: 0 5px; /* Adjust spacing between buttons on desktop */
    }
}

.message {
    display: flex;
    padding: 5px 10px;
    max-width: 80%; /* 메시지 최대 너비 설정 */
    margin-bottom: 8px;
    word-wrap: break-word; /* 긴 텍스트가 요소 너비를 넘어가지 않도록 설정 */
}

.sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.received {
    justify-content: flex-start;
    align-items: flex-start;
}

.message-content {
    padding: 8px 12px;
    border-radius: 15px;
    color: #fff;
}

.sent .message-content {
    background-color: #0b93f6; /* 보낸 메시지 배경 색상 */
}

.received .message-content {
    background-color: #e5e5ea; /* 받은 메시지 배경 색상 */
    color: black;
}

.chat-history {
    height: 200px; /* 채팅 기록의 높이 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 생성 */
    padding: 10px;
    border: 1px solid #ccc; /* 테두리 설정 */
    background-color: #f9f9f9; /* 배경 색상 */
}