<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 화면</title>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=a8904bab80bc416a402ca9544df9d812&libraries=services,clusterer,drawing"></script>
    <!-- 웹소캣 연결에 필요한 라이브러리 선언 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs"></script>
    <link rel="stylesheet" th:href="@{/styles/client.css}">
</head>
<body>

<video id="localStream" autoplay playsinline controls style="display: none;"></video>
    <!-- 영상 송출 화면 -->
<!--<div class="video-section" id="remoteStreamDiv"></div>-->

<div class="controls">
    <button id="mapBtn">병원/카센터 찾기</button>
    <button onclick="shareLocation()">보험료 예상</button>
    <button onclick="endCall()">종료</button>
</div>

<div id="mapModal">
    <div class="modal-content">
        <div id="map">
            <button class="close-btn" onclick="closeModal()">닫기</button>
        </div>
        <button onclick="searchPlaces('병원')">병원</button>
        <button onclick="searchPlaces('자동차 정비소')">카센터</button>
    </div>
</div>

<div id="chat-container" class="chat-container">
    <div id="message-list"></div>
    <textarea id="message-input" class="message-input" placeholder="Type a message... (Shift+Enter for new line)" rows="4"></textarea>
    <button onclick="sendMessage()">Send</button>
</div>
    <script th:inline="javascript">
    const roomId = [[${roomId}]];
</script>
<script th:src="@{/js/clientPeerConfig.js}"></script>
</body>
</html>
